body {
  background-color: #e9ebe9;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 20px;
  
  border-radius:10px;
}
#buttons {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 20px;

  border-radius:10px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#employment_sub_selection {
  margin-left:50px;
}

#opinion_leader{
  margin-left: 20px;
  text-align: justify;
}
#opinion_leader_text{
    margin-left: 20px;

}

textarea#user_reason_nrt{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

textarea#user_reason_nfav{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

textarea#user_reason_nexp{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

li .handle {
  cursor: move;
  border: medium;
  line-height: 40px;
  
  }


.secondlist_secondlist{
  border: solid;
  border-color: white;
  background-color:#f2f2f2;
  height: 30px;
  width: 300px;
  text-align: center;
}
.secondlist_secondlist:hover{

  background-color:#e2e2e2;

}

#sortable_list {margin:0;margin-top:10px;padding:0;list-style-type: none;width:250px;}
#sortable_list li {margin:0;margin-bottom:4px;padding:5px;border:1px solid #888;cursor:move;}

.listnummern{
 border: solid;
  border-color: white;
  background-color:#f2f2f2;
  height: 30px;
  width: 30px;
  text-align: center;



}

ul{
  -webkit-margin-before: 0em;
  -webkit-margin-after:0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
