body {
  background-color: #e9ebe9;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 20px;
  
  border-radius:10px;
}
#buttons {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 20px;

  border-radius:10px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#employment_sub_selection {
  margin-left:50px;
}

#opinion_leader{
  margin-left: 20px;
  text-align: justify;
}
#opinion_leader_text{
    margin-left: 20px;

}

textarea#user_reason_nrt{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

textarea#user_reason_nfav{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

textarea#user_reason_nexp{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: double;
  border-color: grey;
  border-radius: 3px;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

}

li .handle {
  cursor: move;
  border: medium;
  line-height: 40px;
  
  }


.secondlist_secondlist{
  border: solid;
  border-color: white;
  background-color:#f2f2f2;
  height: 30px;
  width: 300px;
  text-align: center;
}
.secondlist_secondlist:hover{

  background-color:#e2e2e2;

}

#sortable_list {margin:0;margin-top:10px;padding:0;list-style-type: none;width:250px;}
#sortable_list li {margin:0;margin-bottom:4px;padding:5px;border:1px solid #888;cursor:move;}

.listnummern{
 border: solid;
  border-color: white;
  background-color:#f2f2f2;
  height: 30px;
  width: 30px;
  text-align: center;



}

ul{
  -webkit-margin-before: 0em;
  -webkit-margin-after:0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

  .label { 
  margin: 0; 
  padding: 0; 
  margin-top: 2em; 
  margin-bottom: .5em;   
  clear: both; 
  font-weight: bold; 
} 

div.hslider { 
  margin: 50px; 
  padding: 0; 
  width: 540px; 
  height: 20px; 
  background-color: #eef; 
  border: 2px solid black; 
} 

.hsliderHandle  { 
  margin: 0; 
  padding: 7px 2px; 
  width: 24px; 
  height: 12px; 
  background-color: #808080; 

  position: absolute; 
  left: -300em; 
  top: -30em; 
  z-index: 10; 

  border: 1px solid black; 
  -webkit-border-radius: 5px; /* Safari and Chrome rounded corners */ 
  -moz-border-radius: 5px; /* Firefox rounded corners */ 
  border-radius: 5px; /* Opera rounded corners */ 

} 

.hsliderValue  { 
  margin: 24px 0 0 0; 
  padding: 5px; 
  width: 30px; 
  height: 15px; 
  text-align: center; 
  font-weight: bold; 

  position: absolute; 
  left: -30em; 
  top: -30em; 
  z-index: 10; 
} 

div.vslider { 
  margin: 50px; 
  padding: 0; 
  height: 540px; 
  width: 20px; 
  background-color: #eef; 
  border: 2px solid black; 
} 

.vsliderHandle  { 
  margin: 0; 
  padding: 2px 7px; 
  width: 12px; 
  height: 24px; 
  background-color: #808080; 

  position: absolute; 
  left: -300em; 
  top: -30em; 
  z-index: 10; 

  border: 1px solid black; 
  -webkit-border-radius: 5px; /* Safari and Chrome rounded corners */ 
  -moz-border-radius: 5px; /* Firefox rounded corners */ 
  border-radius: 5px; /* Opera rounded corners */ 
} 

.vsliderValue  { 
  margin: 0 0 0 30px; 
  padding: 5px; 
  width: 30px; 
  height: 15px; 
  text-align: center; 
  font-weight: bold; 

  position: absolute; 
  left: -30em; 
  top: -30em; 
  z-index: 10; 
} 

div.sliderRange { 
  margin: 2px; 
  padding: 0; 
  width: 1px; 
  height: 1px; 
  background-color: #00f; 

  position: absolute; 
  left: -300em; 
  top: -30em; 
  z-index: 0; 
} 

.hidden { 
  position: absolute; 
  top: -20em; 
  left: -200em; 
} 

.focus { 
  background-color: #eee !important; 
}

body
        {
        color:#333;
        text-align:left;
        font-size:12px;
        font-family: verdana,arial,sans-serif;
        color:#545454;
        padding:0;
        margin:0;
        border:0;
        line-height:1.4;
        }
h1
        {
        font-weight:lighter;
        font-family:georgia, times new roman, times, georgia, palatino, serif;
        text-align:left;
        margin-top:0.6em;
        color:#111;
        font-size:2em;
        }
h2
        {
        font-weight:lighter;
        font-family:verdana,arial,sans-serif;
        text-align:left;
        margin:1em 0;
        color:#333;
        text-transform:uppercase;
        letter-spacing:1px;
        font-size:1.2em;
        }

#track1{
  width:200px;
  background: #e2e2e2;


 background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#0B3B17));
  height:10px;

}

#handle1{
  width: 1px;
  height: 1px;

}

    #track1 div.handle {
      background-color:#bbb;
      color:#444;
      top:0;
      left:0;
      position:absolute;
      z-index:2;
      height:100px;
      font-size:20px;
    }
    #track1 div.handle.selected {
      background-color:#444;
      color:#fff;
    }