body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}


#seite_plane {
    background-image:url('../images/Twitter_hintergrund.png');
    background-repeat: repeat-x;
    background-position: left 0px;
    padding-top:0px;
    margin-bottom:50px;
    width:100%;    
    height: 830px;
    text-align: center;
}


#seite_twitter {
    background-image:url('../images/Twitter_page.png');
    background-repeat:no-repeat;
    background-position: left top;
    position:relative;
    left:0px; top:0px;
    width: 860px;
    height: 100%;
    margin:0 auto;
}

#left_twitter{
  width: 15%;
  height: 100%;
  float: left;
}

#tweet{
  position: absolute;
  top:20px;
  bottom: 0;
  text-align: left;
}

#container{ 
}

#reply_seite{

  background-color:rgba(0,0,0,0.6);
  width:100%;
  height: 830px;  
  left:7px; top:83px;
  margin:0 auto;
  position: absolute;

}

#message{
 position:relative;
 left:405px;
 top:98px;
 width:450px;
 height:87px;
 font-size: 1.0em;
}

#tweeterer{
  width: 270px;
  height: 93px;
  float: left;
 
  position: absolute;
  left: 0px;
  top: 10px;
}

#actions{
  white-space:nowrap;
  height: 93px;
  display:none;
  float: right;
  position: absolute;
  right: 0px;

}

#retweet{
  float: left;
}
#tweeter_name_at{
   float: left;

  font-weight: lighter;
  color: grey;
}
  
#tweeter_name{
  float: left;

  font-weight: bold;
}
#open{
  float: left;
}

#reply{
  float: left;
}

#favorite{
  float: left;  
}

#buttons {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 10px;

  border-radius:10px;
}
#hinweis_continue {
  font-style: italic;
  float: right;
  color: red;
}

#hinweis_back {
  font-style: italic;
  float: left;
  color: red;
}

#reply_field{


  background-image:url('../images/reply_seite.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:150px; top:90px;
  width: 860px;
  height: 100%;
  margin:0 auto;
  color: black;
}



textarea#user_reply_text{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: hidden;
  border-radius: 6px;
  border-bottom-right-radius:29px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position:relative;
  left:-180px;
  top:33px;
}

#tweeter_name_groß{
  position:relative;
  left:-300px;
  top:15px;
  font-size: 1.3em;
  font-weight: bold;
}

#close{
  position:relative;
  left:46px;
  top:10px;
}

#new_tweet{

  left:758px; top:0px;
  margin:0 auto;
  position: absolute;

}
#new_tweet_seite{

  background-color:rgba(0,0,0,0.6);
  width:100%;
  height: 830px;  
  left:7px; top:83px;
  margin:0 auto;
  position: absolute;

}

#new_tweet_field{


  background-image:url('../images/new_tweet_seite.png');
  background-repeat:no-repeat; 
  background-position: left top;
  position:relative;
  left:150px; top:90px;
  width: 860px;
  height: 100%;
  margin:0 auto;
  color: black;
}



textarea#user_tweet_text{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: hidden;
  border-radius: 6px;
  border-bottom-right-radius:29px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position:relative;
  left:-180px;
  top:35px;
}

#close_tweet{
  position:relative;
  left:47px;
  top:12px;
}

#tweet_button_change{
  position:relative;
  left:27px;
  top:43px;
}
#reply_button_change{
  position:relative;
  left:27px;
  top:43px;
}

#search{

  left:725px; top:-27px;
  margin:0 auto;
  position: absolute;
 
}

 input#user_search:focus, textarea#user_search:focus{
background-color: #EEEEEE;
}

textarea#user_search{
  outline: none;
  -webkit-appearance: textarea;
  background-color: transparent;
  border-style: hidden;
  border-radius: 6px;

  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position:relative;
  left:-180px;
  top:35px;
}

#compose_tweet{

  left:23px; top:165px;
  margin:0 auto;
  position: absolute;
 
}
#compose_tweet_seite{

  background-color:transparent;
  width:303px;
  height: 830px;  
  left:8px; top:83px;
  margin:0 auto;
  position: absolute;

}

#compose_tweet_field{


  background-image:url('../images/compose_tweet.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:6px; top: 73px;
  width: 100%;
  height: 81%;
  margin:0 auto;
  color: black;
}

#text_compose{
  position:relative;
  left:180px;
  top:-19px;
}

#tweet_button_change_compose{
  position:relative;
  left:106px;
  top:18px;
}

#tweet_sent{
  background-color:black;
  color: white;
  width:300px;
  height: 25px;  
  top:-40px;
  margin:0 auto;
  position: relative;
  border-radius: 5px;
}

#request_retweet_intensity{

  background-color:transparent;
  width:100%;
  height: 830px;  
  margin:0 auto;
  position: absolute;

}

#charcount{
    position:relative;
  left:10px;
  top:43px;
}

