body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}


#seite_plane {
    background-image:url('../images/Twitter_hintergrund.png');
    background-repeat: repeat-x;
    background-position: left 0px;
    padding-top:0px;
    margin-bottom:50px;
    width:100%;    
    height: 830px;
    text-align: center;
}


#seite_twitter {
    background-image:url('../images/Twitter_page.png');
    background-repeat:no-repeat;
    background-position: left top;
    position:relative;
    left:0px; top:0px;
    width: 860px;
    height: 100%;
    margin:0 auto;
}

#left_twitter{
  width: 15%;
  height: 100%;
  float: left;
}

#tweet{
  position: absolute;
  top:10px;
  left: 71px;
  height: 50px;
  bottom: 0;
  text-align: left;
}

#tweet3{
  position: relative;
  top:-150px;
  left: 399px;
  height: 50px;
  text-align: left;
}

#container{ 
}

#search_symbol{
  position: absolute;
  top: 4px;
  left:525px;
}

#reply_seite{

  background-color:rgba(0,0,0,0.6);
  width:100%;
  height: 830px;  
  left:7px; top:83px;
  margin:0 auto;
  position: absolute;

}

#message{
 position:relative;
 background-color: #fcfcfc;
 left:-70px;
 top:-2px;
 width:520px;
 height:91px;
 font-size: 1.0em;
}
#tweet1{
	position:relative;
 left:400px;
 top:100px;
}
#tweet2{
	position:relative;
 left:400px;
 top:150px;	
}

#tweeterer{
  width: 270px;
  height: 20px;
  float: left;
 
  position: absolute;
  left: 73px;
  top: 5px;
}

.actions{

  position: absolute;
  left: -2px;
}

#message:hover{
  background-color: #f2f2f2;
}

.expanded_actions{
	position: relative;
	top:-63px;
	left:-1px;
}

#inactive_expand{
  position:absolute;
  left:54px; top:65px;

}
#twitter_bild{
  float: left;
  position:absolute;
  left:15px; top:6px;
}
.collapse{
	  float: left;
		position:relative;
	  left:56px; 
		top:65px;
		width: 10px;	
}
.expand{
  float: left;
	position:relative;
  left:56px; 
	top:65px;
	width: 10px;	
	
}

.reply{
	position:relative;
  float: left;
  left: 125px;
  top: 65px;
	width: 10px;	

}

.retweet{
	position:relative;
  float: left;
  left: 185px;
  top: 65px;
	width: 10px;	

}

.favorite{
	position:relative;
  float: left;
  left: 257px;
  top: 65px;
	width: 10px;	

}

#tweeter_name_at{
   float: left;
  font-weight: lighter;
  color: grey;
  font-size: 0.9em; 
}
  
#tweeter_name{
  float: left;

  font-weight: bold;
}

#minutes{
  color: grey;
  font-size: 0.9em;
  position: absolute;
  left: 415px;

  
}

#buttons {
  width: 75%;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: double 4px #bfbfbf;
  margin-top: 10px;

  border-radius:10px;
}
#hinweis_continue {
  font-style: italic;
  float: right;
  color: red;
}

#hinweis_back {
  font-style: italic;
  float: left;
  color: red;
}

#reply_field{


  background-image:url('../images/reply_seite1.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:150px; top:90px;
  width: 860px;
  height: 100%;
  margin:0 auto;
  color: black;
}

#reply_text{
  position:relative;
  top:14px;
	left:20px	;
}


textarea#user_reply_text{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: hidden;
  border-radius: 6px;

  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;

  white-space: pre-wrap;
  word-wrap: break-word;
  width: 462px;

}

#tweeter_name_groß{
  position:relative;
  left:92px;
  top:17px;
  font-size: 1.3em;
  font-weight: bold;
}

#close{
  position:relative;
  left:472px;
  top:-7px;
}

#new_tweet{

  left:758px; top:0px;
  margin:0 auto;
  position: absolute;

}


#new_tweet_seite{

  background-color:rgba(0,0,0,0.6);
  width:100%;
  height: 830px;  
  left:7px; top:83px;
  margin:0 auto;
  position: absolute;

}

#new_tweet_field{
  background-image:url('../images/new_tweet_seite.png');
  background-repeat:no-repeat; 
  background-position: left top;
  position:relative;
  left:150px; top:90px;
  width: 860px;
  height: 100%;
  margin:0 auto;
  color: black;
}

textarea#user_tweet_text_n{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: hidden;
  border-radius: 6px;

  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  position:absolute;
  left:17px;
  top:57px;
  width: 463px;
}

textarea#user_tweet_text{
  outline: none;
  -webkit-appearance: textarea;
  background-color: white;
  border-style: hidden;
  border-radius: 6px;
  border-bottom-right-radius:29px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;

}

#close_tweet{
  position:relative;
  left:467px;
  top:12px;
}

#tweet_button_change{
  position:relative;
  left:396px;
  top:110px;
}
#reply_button_change{
  float: right;
  position:relative;
  left:-369px;
  top:22px;
}

#search{

  left:544px; top:6px;
  margin:0 auto;
  position: absolute;
 
}

input#user_search:focus, textarea#user_search:focus{
background-color: #EEEEEE;
}

textarea#user_search{
  outline: none;
  -webkit-appearance: textarea;
  background-color: transparent;
  border-style: hidden;
  border-radius: 6px;

  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;

}

#compose_tweet{

  left:23px; top:165px;
  margin:0 auto;
  position: absolute;
 
}
#compose_tweet_seite{

  background-color:transparent;
  width:303px;
  height: 830px;  
  left:8px; top:83px;
  margin:0 auto;
  position: absolute;

}

#compose_tweet_field{


  background-image:url('../images/compose_tweet.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:6px; top: 73px;
  width: 100%;
  height: 81%;
  margin:0 auto;
  color: black;
}

#text_compose{
  position:relative;
  left:0px;
  top:17px;
}

#tweet_button_change_compose{
  position:relative;
  left:93px;
  top:17px;
}

#tweet_sent{
  background-color:black;
  color: white;
  width:300px;
  height: 25px;  
  top:-781px;
  margin:0 auto;
  position: relative;
  border-radius: 5px;
}

#request_retweet_intensity{

  background-color:transparent;
  width:100%;
  height: 830px;  
  margin:0 auto;
  position: absolute;

}

#charcount{
  color: grey;
  float: left; 
  position:relative;
  left:390px;
  top:33px;
}

#charcount_t{
  color: grey;
  float: left; 
  position:relative;
  left:390px;
  top:119px;
}

#charcount_c{
  color: grey;
  float: left; 
  position:relative;
  left:194px;
  top:28px;
}

#click_outside{
  color: red;
  float: left; 
  position:relative;
  left:12px;
  top:28px;
}

.expand_page{
  background-color:transparent;
  width:525px;
  height: 140px;  
  left:-73px; 
  top:-98px;
  position: relative;

}

.expand_field_with_retweet{
  background-image:url('../images/expand_seite_RT.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:2px; top: 71px;
  width: 100%;
  height: 91%;
  margin:0 auto;
  color: black;
}

.expand_field{
  background-image:url('../images/expand_seite_ohne_rt.png');
  background-repeat:no-repeat;
  background-position: left top;
  position:relative;
  left:2px; top: 71px;
  width: 100%;
  height: 100%;
  margin:0 auto;
  color: black;
}

.time{
  color: #969696;
  font-size: 0.9em;
  background-color: white;
  position: absolute;
  bottom: 20px;

        width: 227px;
        left: 42px;
}

#time2{
  position: relative;
	top:9px;
}

#connect_button{

  left:90px; top:0px;
  margin:0 auto;
  position: absolute;

}
#connect_page{

  width:100%;
  height: 790px;  
  left:0px; top:83px;
  margin:0 auto;
  position: absolute;

}

#connect_field{
  background-image:url('../images/connect_leer.png');
  background-repeat:no-repeat; 
  background-position: left top;
  position:relative;
  left:0px; top:38px;
  width: 860px;
  height: 100%;
  margin:0 auto;
  color: black;
}

#home_button{

  left:2px; top:-78px;
  margin:0 auto;
  position: relative;

}

#connect_button2{

  left:3px; top:-38px;
  margin:0 auto;
  position: relative;



}

#new_tweet2{

  left:759px; top:-117px;
  margin:0 auto;
  position: relative;

}
#search2{
  left:544px; top:-215px;
  margin:0 auto;
  position: relative; 
}

#search_symbol2{
  position: relative;
  top: -187px;
  left:525px;
}

#view_field{

  left:0px; top:-40px;
  margin:0 auto;
  position: absolute;}

#no_ats{
  color: grey;
  font-size: 0.9em;
  position:relative;
  left:405px;
  top:-90px;
}
#ende{
  position:relative;
  left:160px;
  top: 146px;
  
}
#ende2{
  position:relative;
  left:-73px;
  top: -7px;
  
}