<div id="follower_field"
            onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "message_hover_m2"}) %>"
            onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "message_hover_m2"}) %>"
            >
            <p>            
              <b></b> <br>
              Follower2
            </p>


</div>