
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Survey Twitter usage</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
<%= progress_bar("my_sixty_percent_progress_bar",0.00,true,true) %>
</TD>

</TR>
</TABLE>
<hr>
<p></p>
Dear participant,
<p>
Thank you for agreeing to take part in this survey that is being conducted in the context of my dissertation. 
<p>
The goal of this questionnaire is to investigate personal behavior on Twitter. 
You will be asked several questions related to your demographics and your Twitter usage. Furthermore, an experiment will follow. You will see a Twitter page and be required to act as if you were on your Twitter account. 
<p>
All in all, the survey should take approximately 30 minutes.
<p>
<h3>If you like to see previous pages again, please use the Back button at the bottom of the page not Back button of the browser.</h3>

<p>
<h3><b>PLEASE NOTICE: None of your actions on those pages will be published on your Twitter profile. Your answers will remain anonymous, and I will use them for research purposes only.</b>
</h3>

<p></p>

Thank you very much for your support!
<p>
Jana Ebermann <br>
Research Assistant <br>
University St. Gallen <br>
<p>
If you have any further questions, please do not hesitate to contact me: <i> twitter_survey@unisg.ch</i>.


<!--<script type="text/javascript">
                      //<![CDATA[
                      if ($.browser.msie && $.browser.version == 10) {
  $("html").addClass("ie10");
  document.observe("dom:loaded",function(){
alert('You are using Internet Explorer 10.\n\nThis questionnaire contains slider and drag and drop lists, which only can be dragged if Internet Explorer runs in compatility view.\n\n\n\Recommendation: Change your Browser! \n\nIf you are not able to change your browser please start the Internet Explorer on your Desktop, press ALT, click at Extras and Compatibility view \n\n\nThank you for your support and patience.')});
document.title = 'Twitter_seite';
}


 //]]>
                      </script>-->

