
<div id="new_tweet_field">

  <div id="close_tweet">
            <%= link_to_remote image_tag('../images/close.png'),
                  :url => {:action => "close_tweet", :id => @user.id}
            %>
  </div>
  
    <%= f.text_area :tweet_text, :cols => 56, :rows => 4, :maxlength => 140 %>
    

    <div id="tweet_button_change">
            <%= link_to_remote image_tag('../images/Tweetbutton_aktiv.png',
                :mouseover => '../images/Tweetbutton_mouseover.png'),
                :loading  => "$('tweet_sent').show(); $('tweet_sent').fade()",
                  :url => {:action => "close_tweet", :id => @user.id}
            %>
  </div>
</div>
  