
<table><tbody><tr><td>
<% slider :retweet_importance => "Importance to retweet",      
          :values        => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].sort,
          :default_value => 1 %>
</td></tr></tbody></table>