  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Target Information</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
<%= progress_bar("my_sixty_percent_progress_bar",1.0,true,true) %>
</TD>

</TR>
</TABLE>

