  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Twitter Simulation</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
<%= progress_bar("my_sixty_percent_progress_bar",0.80,true,true) %>
</TD>

</TR>
</TABLE>

<h2>Message</h2>
<p>Tweet: "My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there." 
<p>
  <div id = "retweet">
    <%= link_to_remote "Retweet", :url => {:action => "retweet", :id => @user.id} %>
  </div>
</p>


