<h2>Page Reload </h2>
<hr>
</br>
<b> Dear participant,</b>
<br>
<br>
<p>
the internet connection was down for a moment or your page was reloaded.
<h3>Your data of the previous pages was saved.</h3> 
Please press <b>CONTINUE</b> to fill out the rest of the survey.
<p>
<br>
Thanks a lot for your support and patience!
<br>
</p>
<hr>
<p><%= link_to "Continue", new_user_path %></p>
