
<% title "" %>
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render "#{@user.current_step}_step", :f => f %>  
      <Table width="100%">
        <tr>
          <td align="left"> <%= f.submit "Back", :name => "back_button" unless @user.first_step?  %></td>
          <td align="right"> <%= f.submit "Continue" %></td>
        </tr>
      </Table>
<% end %>

