
<% title "" %>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render "#{@user.current_step}_step", :f => f %>  
    <p>
      <%= f.submit "Continue" %>
      <%= f.submit "Back", :name => "back_button" unless @user.first_step?  %>
    </p>
<% end %>

